.Pagination {
  display: flex;
  justify-content: end;
  padding: 22px;
  gap: 0px;
}

.Pagination-button {
  border: none;
  height: 20px;
  background-color: #ffffff;
  font-size: 16px; 
  cursor: pointer;
}

.Pagination-span {
  color: #CCCCCC;
}

.Pagination-button:hover {
  background-color: #E1E1E1;
}

.Pagination-active {
  background-color: #0087E9;
  color: #ffffff;
  font-size: 16px;
  border: none;
}